
{% extends "app_hospital/base.html" %}

{% block detial %}
{% if request.user.is_authenticated %}
<form action="{% url 'app_hospital:add_appointment'  %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select</label>
        <select name="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="DE">select department </option>
          <option value="US">Heart Center</option>
          <option value="CA">Neuroscience Center</option>
          <option value="FR">Obesity Center</option>
          <option value="DE">Eye Center</option>
          <option value="DE">Orthopedic Center</option>
          <option value="DE">Pediatric Center</option>
        
        </select>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> name</label>
            <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name" required>
        </div>

        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> description case</label>
<textarea name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

       

<div>
    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> age patint</label>
    <input type="text" name="age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your age..." required>
</div>
       
<div class="mb-3 mt-8">
    <label for="exampleFormControlInput1" class="form-label"> Date</label>
    <input type="date" name="appointment_datetime" />
</div>
  
  <button type="submit" class="mt-6 text-white bg-blue-800 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">submit</button>
</form>
{% else %}
<div class="alert alert-dark" role="alert">
   Please <a href="{% url 'accounts:sign_in' %}">sign in</a> or <a href="{% url 'accounts:sign_up' %}">sign up</a> to book !
  </div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>

{% endblock  %}