{% extends "clinics_app/base.html" %} 

{% block title %}
Clinic Page
{% endblock %}


{% block content %}

<div class="container row m-auto justify-content-center" >
{% for clinic in clinics %}

<div class="card m-2 shadow" style="max-width: 540px;">
  <div class="row g-0 ">
    
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title" style="height:30px;">{{clinic.clinic_name}} <span style="font-size: 60%; color: #facc15;">{{clinic.department}}</span></h5>
        <a href="{% url 'clinics_app:clinic_detail_page' clinic.id %}" class="btn shadow">More Details</a>
      </div>
    </div>

    <div class="col-md-4 p-2 m-auto  ">
      <img src="{ clinic.feature_image.url }" class="img-fluid rounded shadow-lg" alt="{{ clinic.clinic_name }} logo">
    </div>

  </div>
</div>

{%endfor%}
  </div>


{% endblock %}