{% extends 'clinic_app/base.html'%}
{% block title %} Sign-in {% endblock %}

{% block content %}

<h1 style="text-align: center">Sign up</h1>
{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form style="text-align: center" action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}

    <div>
        <input type="text" placeholder="name" name="name">
    </div>
    <br>
    <div>
        <input type="email" placeholder="email" name="email">
    </div>
    <br>
    <div>
        <input type="text" placeholder="username" name="username">
    </div>
    <br>
    <div>
        <input type="password" placeholder="password" name="password">
    </div>
    <br>
    <button type="submit">Sign up</button>
</form>

<br>
<div style="text-align: center">
    <a href="{% url 'accounts:signin' %}">Sign in</a>
</div>

{% endblock %}