{% extends 'main_app/index.html' %}
{% load static %}

{% block content %}
    <!-- hero section -->
    <div class="container col-xxl-8 px-4 py-5 mb-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/hero.jpg' %}" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">A special hospital for patients' needs</h1>
                <p class="lead">
                    A hospital is a healthcare institution providing patient treatment with specialized health science and auxiliary 
                    healthcare staff and medical equipment.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{% url 'main_app:clinics_page' %}" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="rcp66">Appointments</a>
                </div>
            </div>
        </div>
    </div>

    <!-- clinics section -->
    <div class="container col-xxl-8 px-4 py-5 mb-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Clinics</h2>
            <a href="{% url 'main_app:clinics_page' %}" class="d-flex link-rm-line justify-content-between align-items-center">
                All Clinics
                <span class="material-symbols-outlined">arrow_forward_ios</span>
            </a>
        </div>
        <div class="d-flex flex-column">
            <div class="row">
                {% for clinic in clinic %}
                <div class="col-4 g-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{clinic.feature_image.url}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{clinic.name}}</h5>
                            <p class="card-text">{{clinic.description|truncatewords:25}}</p>
                            <a href="{% url 'main_app:clinics_page_detail' clinic.id %} " class="btn btn-primary">More Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}