{% extends 'main_app/index.html' %}
{% load static %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="d-flex align-items-center py-4">
            <main class="form-signin w-100 m-auto">
                <div class="container col-xxl-8 px-4 py-5 mb-5">
                    <form action="{% url 'main_app:manager_page_add' %}" method="POST" enctype="multipart/form-data" class="w-50 align-items-center justify-content-center">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 fw-normal">Full in clinic information</h1>
            
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">clinic name</span>
                            <input type="text" name="name" class="form-control" placeholder="clinic name" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">department</label>
                            <select class="form-select" name="department" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                {% for clinic in clinic %}
                                    <option value="{{clinic.department}}">{{clinic.department}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">clinic image</label>
                            <input type="file" name="feature_image" class="form-control" id="inputGroupFile01">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">clinic description</span>
                            <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                        </div>
                        <br>
            
                        <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="1isj6h">Add clinic</button>
                    </form>
                </div>
            </main>
        </div>
    </div>
{% endblock %}