{% extends 'main_app/base.html'%}
{% load static%}
{% block title %}
Log In
{% endblock %}


{% block content %}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <div class="intro text-center">
                    <div class="hr-line"></div>
                        <h1 class="diisplay-4">LogIn </h1>
                        <p class="mx-auto">please fill in the required fields.</p>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if msg %}
                     <p class="text-danger">{{msg}}</p>
                 {% endif %}
                <form action="{% url 'accounts:log_in' %}" method="post" class="row gy-3">
                    {% csrf_token %}

                     <div class="col-lg-6">
<!--INPUT-->               <input name="username" type="text" id="floatingInput" class="form-control" placeholder="User name">
                    </div>
                    <div class="col-lg-12">
<!--INPUT-->               <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    </div>
                    <div class="col-12">
<!--button-->              <button class="btn btn-dark">LogIn</button>
                            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}