{% extends 'clinic_app/base.html' %}
{% block title %} Appointments {% endblock%}

{% block content %}

{% if request.user.is_authenticated %}
<h1>{{ clinic.name }}, appointment schedule</h1>
<table>
    <thead>
        <tr>
            <th style="text-align: center">Date/Time</th>
            <th style="text-align: center">Case Description</th>
            <th style="text-align: center">Patient Age</th>
            <th style="text-align: center">Attended</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td style="text-align: center">{{ appointment.appointment_datetime }}</td>
            <td style="text-align: center">{{ appointment.case_description }}</td>
            <td style="text-align: center">{{ appointment.patient_age }}</td>
            <td style="text-align: center">{% if appointment.is_attended %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% if request.user.is_staff %}
        <td style="text-align: center">
            <label>update:</label>
            <a href="{%url 'clinic_app:update_appointment' appointment.id %}">update</a>
            <label>delete:</label>
            <a href="{%url 'clinic_app:delete_appointment' appointment.id %}">delete</a>
        </td>
        {% endif %}
        {% empty %}
        <tr>
            <td style="text-align: center" colspan="4">No appointments scheduled.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<br>
<div style="text-align: center"><a href="{% url 'accounts:sign_in' %}">sign in</a> or <a
        href="{% url 'accounts:signup' %}">sign up</a> to book and browse appointments</div>
{% endif %}

<br>

{% if request.user.is_authenticated %}
<h1 style="text-align: center">Create Appointment</h1>

<form action="{% url 'clinic_app:create_appointment' clinic.id %}" method="POST" style="text-align: center">
    {% csrf_token %}
    <div>
        <label>enter your date and time</label><br>
        <input placeholder="date" name="appointment_datetime" type="datetime-local">
    </div>
    <br>
    <div>
        <label>enter your age</label><br>
        <input placeholder="age" name="patient_age" type="number">
    </div>
    <br>
    <div>
        <label>enter your case description</label><br>
        <textarea placeholder="description" name="case_description"></textarea>
    </div>
    <br>
    <button type="submit">Add appointment</button>
</form>
{% endif %}

<br>

{% endblock %}