{% extends 'clinic_app/base.html' %}
{% block title %} Appointments {% endblock%}

{% block content %}

<h1>{{ clinic.name }}, appointment schedule</h1>
<table>
    <thead>
        <tr>
            <th style="text-align: center">Date/Time</th>
            <th style="text-align: center">Case Description</th>
            <th style="text-align: center">Patient Age</th>
            <th style="text-align: center">Attended</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td style="text-align: center">{{ appointment.appointment_datetime }}</td>
            <td style="text-align: center">{{ appointment.case_description }}</td>
            <td style="text-align: center">{{ appointment.patient_age }}</td>
            <td style="text-align: center">{% if appointment.is_attended %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
            <td style="text-align: center" colspan="4">No appointments scheduled.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div style="text-align: center">
    <a href="{% url 'clinic_app:create_appointment' clinic.id%}">Create appointment</a>
</div>

{% endblock %}