{% extends 'clinic_app/base.html' %}
{% block title %} Appointment {% endblock%}

{% block content %}

<h1 style="text-align: center">Create Appointment</h1>

<form action="{% url 'clinic_app:create_appointment' clinic.id %}" method="POST" style="text-align: center">
    {% csrf_token %}
    <div>
        <input placeholder="date" name="appointment_datetime" type="datetime-local">
    </div>
    <br>
    <div>
        <input name="patient_age" type="number">
    </div>
    <br>
    <div>
        <textarea placeholder="description" name="case_description"></textarea>
    </div>
    <br>
    <button type="submit">Add appointment</button>
</form>
<br>

{% endblock content %}