{% extends 'clinic_app/base.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<h1 style="text-align: center">Available Clinics</h1>

<div style="text-align: center; font-size: 150%;">
    <a href="{% url 'clinic_app:add_clinic' %}">Add new clinic</a>
</div>

<div style="text-align: center">
    {% for clinic in clinics %}
    <br>
    <h4 style="color: orangered">{{ clinic.name }}</h4>
    <img >{{ clinic.feature_image }}</img>
    <p>Description: {{ clinic.description }}</p>
    <p>Department: {{ clinic.department }}</p>
    <p>Established at: {{ clinic.established_at }}</p>
    <div> 
        <a href="{% url 'clinic_app:clinic_details' clinic.id %}">details</a>
      </div>
    {% endfor %}
</div>

{% endblock %}