{%extends 'hospital_app/base.html'%}
{% load static %}
{% block title %}Add clinic{% endblock %}

{% block content %}
<h1 style="margin-top: 150px; margin-left: 70px; margin-bottom: 20px; color: #000;">Add clinic</h1>
        <div class="container">

            <form action="" method="POST" enctype="multipart/form-data" style="width: 50%;">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" style="color: #fff;">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type a Name" name="name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"style="color: #fff;">Choose Image</label>
                    <input type="file" name="feature_image" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" style="color: #fff;">Description</label>
                    <textarea class="form-control" id="exampleFormControlInput1" placeholder="Type the description" name="description"></textarea>
                </div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"  name="department">

                    <option value=""selected>Select clinic</option>
                    {% for departmrnt in departmrnts %}
                    <option value="{{departmrnt.0}}">{{departmrnt.1}}</option>
                    {% endfor %}
                  </select>

                <div class="mb-3">
                    <input type="submit" value="Post clinic" class="btn btn-primary" style="margin-top: 20px;"/>
                </div>
             </form>

        </div>
{% endblock %}
